@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body{
    font-family: "Outfit", sans-serif;
}
.loader-div hr{
    background-size: 800px 50px;
    animation: loader 3s infinite linear;
}
@keyframes loader{
    0%{
        background-position: -800px 0px;
    }
    100%{
        background-position: 800px 0px;
    }
}
.cards{
    grid-template-columns: repeat(auto-fill,minmax(180px,1fr));
}

#root{
    min-height: 100vh;

    animation: fadeIn 1.5s;
}

@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.recent{
    animation: fadeIn 1.5s;
}